@using AutoFixture.Xunit2
@inherits TestContext

@code
{

    [Theory, AutoData]
    public void Card_Test(string title, string img, string url, RenderFragment childContent)
    {
        var cut = Render(@<Card Title="@title" Image="@img" Url="@url" ChildContent="@childContent"></Card>);

        cut.MarkupMatches($@"<div class=""card"" >
                          <a href=""{url}"" >
                            <img src=""{img}"" >
                            <p class=""title"" >{title}</p>
                            <div class=""content"" ></div>
                          </a>
                        </div>");
    }
}