@using BellyBox.Shared
@using BellyBox.Client.Components
@using BellyBox.Client.Services
@inject IBellyBoxDataService _service
@inject MealsListState State
@page "/"

<div>
	<h1>Our Meals</h1>
	<selction>
		<h2>Filter</h2>
		<TagsFilter Tags="State.Tags" @bind-SelectedFilters="State.SelectedTags"/>
	</selction>
	<section>
		<MealListView Data="FilteredMeals" />
	</section>
</div>
@code {

	IEnumerable<Meal> FilteredMeals => !State.SelectedTags.Any() ? State.Meals :
	State.Meals.Where(m => State.SelectedTags.All(t => m.Tags.Any(mt => mt.Id == t.Id)));

	protected override async Task OnInitializedAsync()
	{
		if (!State.Meals.Any())
		{
			State.Meals = await _service.GetMeals();
			State.Tags = await _service.GetTags();
		}
	}
}
