@inherits LayoutComponentBase

<main>
    <header>
        <h1>BellyBox</h1>
        <!-- Navigation -->
        <NavMenu />
    </header>
    <section class="content">
        @Body
    </section>
    <footer>
        <p>BellyBox &copy;</p>
    </footer>
</main>