<span style="@Style">@Text</span>

@code {

	[Parameter]
	public string Text { get; set; }

	[Parameter]
	public string Color { get; set; }

	string Style => string.IsNullOrEmpty(Color) ? null : $"background-color:{Color}";

}
