button.cart-delete {
    color: var(--secondary-contrast-color);
    background: var(--secondary-color);
    padding: 0;
    border: none;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    display: block;
    border-radius: 3px;
    transition: 0.3s;
}

    button.cart-delete:hover {
        background: var(--danger-color);
    }

.meal-thumbnail {
    width:150px;
}

::deep input[type="number"] {
    border-radius: 2px;
    border: 1px solid #161a1c;
    height: 100%;
    margin: 0;
    display: inline-block;
    padding: .6rem;
    line-height: 1;
    max-width: 4rem;
    margin-right: 1.4rem;
    text-align: center;
}