<nav>
	<ul>
		<li>
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				Home
			</NavLink>
		</li>
        <li>
            <NavLink class="nav-link" href="/cart" Match="NavLinkMatch.All">
                <span class="oi oi-cart" aria-hidden="true"></span> Cart
            </NavLink>
			<CartCount/>
        </li>
	</ul>
</nav>
